.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  margin-top: 10px;
}

.App-search {
  margin-top: 10px;
}

.App-stats {
  width: 300px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.App-increase {
  color: #097c05;
}

.App-decrease {
  color: #fb6661;
}

.Eth-img {
  max-height: 15px;
  margin-right: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

